#ser{
background-color : #ff8080 ;
  
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;

font-size: 20px; 
width: 400px; 
height: 26px;
}